body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:445px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:237px;
  width:140px;
  height:40px;
  display:flex;
}
#u1282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:653px;
  width:162px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1283 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1283_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:710px;
  width:411px;
  height:90px;
  display:flex;
}
#u1284 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:237px;
  width:140px;
  height:40px;
  display:flex;
}
#u1285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:360px;
  width:140px;
  height:40px;
  display:flex;
}
#u1286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:108px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1287 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1287_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:157px;
  width:411px;
  height:45px;
  display:flex;
}
#u1288 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:277px;
  width:0px;
  height:0px;
  color:#D9001B;
}
#u1289_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:78px;
}
#u1289_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:68px;
  width:104px;
  height:10px;
}
#u1289_seg2 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:68px;
  width:10px;
  height:15px;
}
#u1289_seg3 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:68px;
  width:20px;
  height:20px;
}
#u1289_text {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:65px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:277px;
  width:0px;
  height:0px;
  color:#D9001B;
}
#u1290_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:78px;
}
#u1290_seg1 {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:68px;
  width:110px;
  height:10px;
}
#u1290_seg2 {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:68px;
  width:10px;
  height:15px;
}
#u1290_seg3 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:68px;
  width:20px;
  height:20px;
}
#u1290_text {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:65px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:360px;
  width:140px;
  height:40px;
  display:flex;
}
#u1291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:493px;
  width:140px;
  height:40px;
  display:flex;
}
#u1292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:400px;
  width:0px;
  height:0px;
  color:#D9001B;
}
#u1293_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:85px;
}
#u1293_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:75px;
  width:127px;
  height:10px;
}
#u1293_seg2 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:75px;
  width:10px;
  height:18px;
}
#u1293_seg3 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:78px;
  width:20px;
  height:20px;
}
#u1293_text {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:72px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:400px;
  width:0px;
  height:0px;
  color:#D9001B;
}
#u1294_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:85px;
}
#u1294_seg1 {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:75px;
  width:80px;
  height:10px;
}
#u1294_seg2 {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:75px;
  width:10px;
  height:18px;
}
#u1294_seg3 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:78px;
  width:20px;
  height:20px;
}
#u1294_text {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:72px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:493px;
  width:140px;
  height:40px;
  display:flex;
}
#u1295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:513px;
  width:0px;
  height:0px;
  color:#D9001B;
}
#u1296_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:76px;
  height:10px;
}
#u1296_seg1 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1296_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
