body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:580px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:108px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u590 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u590_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:85px;
  width:580px;
  height:81px;
  display:flex;
}
#u591 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
